{% extends "base.html" %}

{% block content %}
 <div class="row">
	<p>This is the equipment management page</p><br>
	{{ SubmitMessage }}<br>
	<form method="post" action="">{% csrf_token %}
	{{ formSet.management_form }}
		<div class='row-fluid'>
			{% for form in formSet|slice:":1" %}
				{% for field in form %}
					{% if field.label != "Id" %}
						<div class="col-md-6"><strong>{{field.label}}</strong></div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	{% for form in formSet %}
		<div class='row-fluid'>
			{% for field in form %}
				{% if field.label != "Id" %}
					<div class="col-md-6">{{field}} </div>
				{% else %}
					{{field}}
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
	<input type="submit" value="Update" />
	</form>
  </div>
{% endblock %}
