{% extends "base.html" %}

{% block content %}
 
	<p>This is the equipment management page</p><br>
	{{ SubmitMessage }}<br>
	{{ formset.non_form_errors }}<br>
	<form method="post" action="">{% csrf_token %}
	{{ formSet.management_form }}
		<div class='row'>
			{% for form in formSet|slice:":1" %}
				{% for field in form %}
					{% if field.label != "Id" %}
						<div class="col-md-2"><strong>{{field.label}}</strong></div>
					{% endif %}
				{% endfor %}
			{% endfor %}
						<div class="col-md-2"><strong>Details</strong></div>
		</div>
	{% for form in formSet %}
		<div class='row'>
			{% for field in form %}
				{% if field.label != "Id" %}
					<div class="col-md-2">{{field}} </div>
				{% else %}
					{{field}}
				{% endif %}
			{% endfor %}
			<div class="col-md-2"> 
				{% if form.assset_number.value != 'None' %}
					<a href="{% url 'editInstrument' %}?instrument={{ form.id.value }}">Edit Details</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<input type="submit" value="Update" />
	</form>
  
{% endblock %}
