{% extends "base.html" %}

{% block content %}
	<p>This is the equipment management page</p><br>
	{{ SubmitMessage }}<br>
	<form method="post" action="../equipment/instrument">{% csrf_token %}
		{% for field in form %}
			<div class="row"> <strong><div class="col-md-4"> {{ field.label }}: </div></strong> <div class="col-md-8">{{ field }} </div> </div>
		{% endfor %}
	<input type="submit" value="Update" />
	</form>
	<strong><a href="{% url 'editInstrument' %}?instrument={{ instrument.id }}">Cancel Changes</a></strong>

{% endblock %}
