{% extends "base.html" %}

{% block content %}
	<p>This is the Method editing page</p><br>
	{{ SubmitMessage }}<br>
	<h1>Method Overview</h1>
	<form method="post" action="../Method">{% csrf_token %}
		<div class="row"> 
		{% for field in form %}
			<strong><div class="col-md-2"> {{ field.label }}: </div></strong> <div class="col-md-4">{{ field }} </div> 
		{% endfor %}
		</div>
	<input type="submit" value="Update" />
	</form>
	{{ formSet.non_form_errors }}<br>
	<h1>Method's Version Details</h1>
	<form method="post" action="">{% csrf_token %}
	{{ formSet.management_form }}
		<div class="row-fluid">
			{% for form in formSet|slice:":1" %}
				{% for field in form %}
					{# if field.label != "Id" and field.label != "FK method" #}
					{% if field not in form.hidden_fields %}
						<div class="col-sm-4"><strong>{{field.label}}</strong></div>
					{% endif %}
				{% endfor %}
			{% endfor %}
						<!--div class="col-md-2"><strong>Details</strong></div-->
		</div>
	{% for form in formSet.forms %}
		<div class="row-fluid">
		<!--new form -->
			{% for field in form %}
			<!--new field -->
				{% if field.label != "Id" %}
					<div class="col-sm-4">{{field}} </div>
				{% else %}
					{{field}}
				{% endif %}
			{% endfor %}
			<!--div class="col-md-6"> 
				{% if form.assset_number.value != 'None' %}
					<a href="{% url 'editInstrument' %}?instrument={{ form.id.value }}">Edit Details</a>
				{% endif %}
			</div-->
		</div>
	{% endfor %}
	<div class="row-fluid">
		<input type="submit" value="Update" />
	</div>
	</form>
	<p><strong><a href="{% url 'editMethod' %}?Method={{ method.id }}">Cancel Changes</a></strong></p>
	<p><strong><a href="{% url 'editMethods' %}">Back to all Methods</a></strong></p>

{% endblock %}
