{% extends "base.html" %}

{% block content %}
 <div class="row">
	<p>This is the server configuration page</p><br>
	<p>Current configurations are: </p>
	
	{{ SubmitMessage }}<br>
	<h1>Server Configurations</h1>
	<h2>Change one row and click update before changing the next</h2>
	<form method="post" action="">{% csrf_token %}
	{{ formset.management_form }}
		<div class='row'>
			{% for form in formset|slice:":1" %}
				{% for field in form %}
					{% if field.label != "Id" %}
						<div class="col-md-6"><strong>{{field.label}}</strong></div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	{% for form in formset %}
		<div class='row'>
			{% for field in form %}
				<div class="col-md-6">{{field}} </div>
			{% endfor %}
		</div>
	{% endfor %}
	<input type="submit" value="Update" />
	</form>

  </div>
{% endblock %}
